<div class="container">
  <div class="jumbotron">
    <hello name="{{ name }}"></hello>
    <form>
      <div class="form-group">
        <label for="pText">Parent Value:</label>
        <input
          type="text"
          class="form-control"
          id="pText"
          [(ngModel)]="formFields.InpText"
          name="pText"
        />
      </div>

      <button type="button" class="btn btn-danger" (click)="updateChild()">
        Update Child
      </button><br/><br/>
      <button type="button" class="btn btn-warning" (click)="showConfig()">
      Update Response
    </button>
    </form>
    
  </div>
</div>
<article>
  <child pValue="{{ pValue }}" [config]="config"></child>
</article>
